body {
    margin: 0;
}

header {
    background-color: #00acee;
    height: 60px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.header_logo {
    float: left;
    padding-left: 20px;
    font-size: 22px;
    line-height: 64px;
}

.header_logo a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.header_menu {
    float: right;
    padding-right: 30px;
    list-style-type: none;
    margin:  0px 15px;
}

.header_menu li {
    float: left;
    line-height: 64px;
    color: white;
    padding-left: 25px;
}

.header_menu a {
    float: left;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.container {
    clear: both;
    background-color: white;
    max-width: 600px;
    margin: 60px auto;
}

footer {
    background-color: #00acee;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    vertical-align: middle;
}

.footer_logo li {
    list-style-type: none;
    text-align: center;
    color: white;
}

.post_content{
    width: 100%;
    font-size: 30px;
    list-style: none;
}

input[type = "text"]{
    width: 500px;
    height:100px;
}
